{% extends 'base.html' %}

{% block content %}
<div class="text-left">
<div class="container">
<h1>Login</h1>
{% if error %}
<br/>
{{error}}
<br/>
{% endif %}

<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="container">
  Username:
  <br/>
  <input type="text" name="username" />
  <br/>
  Password:
  <br/>
  <input type="password" name="password" />
  <br/>
  <br/>
  <input class="btn btn-primary" type="submit" value="login"/>
</form>
</div>
</div>
</div>
{% endblock %}